$primary: #222831;
$secondary: #30475E;
$tertiary: #F2A365;
$final: #ECECEC;

.textColor {
    color: $tertiary;
}

body {
    background-color: $primary;
}

header {
    background: $secondary;
    display:flex;
    justify-content: space-between;
    padding: 15px 0 15px 15px;
    color: $tertiary;
}

#githubUsername {
    color: $tertiary;
}

.hero {
    background-image: url("../images/BANNER-redwoods_national_park_5.jpg");
    background-size: cover;
    background-position: 75%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 45vh;
    width:100%;
}

#aboutMeContainer {
    height: 35vh;
    padding: 25px 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
    color: $tertiary;
    width: 75%;
    border: solid;
    border-color: $tertiary;
    border-radius: 10px;
    background-color: $secondary;
    padding: 25px;
    }
}

#projectContainer {
    height: 200px;
}

#project1 {
    background-image: url("../images/Project1.png");
    background-size: cover;
    height:100%;
    width: 100%;
    background-position: 50%;
    border: solid;
    border-color: $tertiary;
    border-radius: 25px;
    box-shadow: $secondary 6px 5px;
    opacity: 50%;
    &:hover {
        opacity:100%;
        transition: 1.5s;
    }


}
#project2 {
    background-image: url("../images/Project2.png");
    background-size: cover;
    height:100%;
    width: 100%;
    background-position: 50%;
    border: solid;
    border-color: $tertiary;
    border-radius: 25px;
    box-shadow: $secondary 6px 5px;
    opacity: 50%;
    &:hover {
        opacity:100%;
        transition: 1.5s;
    }

}
#project3 {
    background-image: url("../images/Project3.png");
    background-size: cover;
    height:100%;
    width: 100%;
    background-position: 50%;
    border: solid;
    border-color: $tertiary;
    border-radius: 25px;
    box-shadow: $secondary 6px 5px;
    opacity: 50%;
    &:hover {
        opacity:100%;
        transition: 1.5s;
    }

}
#project4 {
    background-image: url("../images/Project4.png");
    background-size: cover;
    height:100%;
    width: 100%;
    background-position: 50%;
    border: solid;
    border-color: $tertiary;
    border-radius: 25px;
    box-shadow: $secondary 6px 5px;
    opacity: 50%;
    &:hover {
        opacity:100%;
        transition: 1.5s;
    }

}

footer {
    background: $secondary;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 15px;
    color: $tertiary;
    a {
        color: $tertiary;
    }
}